[submodule "data/brainbench/testcases"]
	path = data/brainbench/testcases
	url = https://github.com/braingpt-lovelab/brainbench_testcases.git
[submodule "data/brainbench/human"]
	path = data/brainbench/human
	url = https://github.com/braingpt-lovelab/brainbench_participant_data.git
[submodule "data/brainbench/machine"]
	path = data/brainbench/machine
	url = https://github.com/braingpt-lovelab/brainbench_results.git
